/*------------------------------------ Imports */
@font-face {
    src: url(../fonts/Avenir.ttc);
    font-family: "Avenir";
}

@font-face {
    src: url(../fonts/FontAwesome.otf);
    font-family: "FontAwesome";
}

/*------------------------------------ varibles */
:root {
    --color-blue: #D4EFFC;
    --color-red: #D71635;
    --color-gray: #808183;
    --color-black: #000000;

    --font-type: "Avenir";
    --font-some: "FontAwesome", san-serif;
    --font-p: 1.5rem;

    --font-h1: 3rem;
}

/*------------------------------------ Global */

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background: #D4EFFC;
}

h1 {
    font-size: var(--font-h1);
    font-family: var(--font-type);
    font-style: oblique;
    font-weight: lighter;
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 2rem;
    font-family: var(--font-type);
}

h2 {
    font-weight: bold;
    margin: 1.5rem 0 0 0;
}

h3 {
    font-weight: 200;
    margin: 0 0 1.5rem 0;
}

p {
    font-size: var(--font-p);
    font-family: var(--font-type);
    margin: var(--font-p) 0 0 0;
}

.hide {
    display: none !important;
}

/*------------------------------------ header */
header {
    padding: 6rem 0 0 0;
    margin: 0 1.5rem 0 1.5rem;
}

header img {
    width: 27.5rem;
}

.sideImage {
    display: none;
}

/*------------------------------------ content / main */
main {
    margin: 3rem 1.5rem 0 1.5rem;
    grid-template-columns: 1fr;
    display: grid;
    grid-column-gap: 1.5rem;
}

picture {
    width: 100%;
    height: 21rem;
    overflow: hidden;
    display: block;
}

picture img {
    width: 100%;
}

.social,
.price {
    font-family: var(--font-some);
    font-size: 2rem;
}

.social {
    color: var(--color-black);
    margin: 0 1.5rem 0 0;
}

.social:hover {
    color: var(--color-red);
}

.price {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-red);
}

.price:hover {
    color: var(--color-black);
}

.breaker {
    text-align: center;
    width: 100%;
    float: left;
    margin: 0 0 3rem 0;
}

.breaker hr {
    width: calc(55% - 4.4rem);
    float: left;
    border: 0.1rem solid var(--color-black);
    margin: 1rem 0 0 0;
}

.breaker hr:last-child {
    float: right;
}

.arrow {
    width: 4.4rem;
}

.up {
    transform: rotate(180deg);
}

.modal {
    height: 0;
    overflow: hidden;
    transition: 2s;
}

.open {
    height: auto;
}

/*------------------------------------ footer */
footer {
    width: calc(100% - 3rem);
    padding: 5.5rem 1.5rem 3rem 1.5rem;
    background: white;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-column-gap: 1.5rem;
}

footer p,
footer h2 {
    margin: 0;
    color: var(--color-gray);
}

footer p:nth-child(3) {
    margin: 0 0 1.5rem 0;
}

footer section:first-of-type {
    align-self: end;
}

footer section:last-of-type {
    justify-self: end;
}

footer section img {
    width: 7.2rem;
    display: block;
    margin: 1.5rem 0 0 0;
}

/*------------------------------------ Media Query */
@media (min-width: 768px) {
    main {
        margin: 3rem 1.5rem 0 25rem;
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-column-gap: 1.5rem;
    }

    header {
        margin-left: 25rem;
    }

    footer {
        width: calc(100% - 26.5rem);
        padding: 5.5rem 1.5rem 3rem 25rem;
    }
    footer section{
        align-self: end;
    }
    footer section img {
    width: 7.2rem;
    display: inline-block;
    margin: 1.5rem 0 0 1.5rem;
}

    .sideImage {
        display: inline;
        position: absolute;
        top: 6rem;
        left: -37%;
        width: 60.9rem;
        opacity: 0.05;
    }

    @media (min-width: 1080px) {
        main {
        margin: 3rem 13.5rem 0 64.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        grid-column-gap: 1.5rem;
    }
            header {
        margin-left: 64.5rem;
    }
        .sideImage {
            left: 1.5rem;
        }

    footer {
        width: calc(100% - 78rem);
        padding: 5.5rem 13.5rem 3rem 64.5rem;
    }
    }
